@using TheProject.Core.Models.LoginRegister
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
                    <form id="registerForm" method="post" class="needs-validation" novalidate>
                        @Html.AntiForgeryToken()
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="@Model.Username" class="form-label"><i class="fas fa-user"></i> Username</label>
                            <input class="form-control" autocomplete="username" aria-required="true" asp-for="@Model.Username" />
                            <span asp-validation-for="@Model.Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Email" class="form-label"><i class="fas fa-envelope"></i> Email</label>
                            <input class="form-control" autocomplete="email" aria-required="true" asp-for="@Model.Email" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Password" class="form-label"><i class="fas fa-lock"></i> Password</label>
                            <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.ConfirmPassword" class="form-label"><i class="fas fa-lock"></i> Confirm Password</label>
                            <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button id="registerSubmit" type="submit" class="btn btn-primary"><i class="fas fa-signature"></i> Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
