@model IEnumerable<CourseViewModel>

@{
    ViewData["Title"] = "All Courses";
}

<h2 class="text-center mb-4">@ViewData["Title"]</h2>

<div class="container">
    <div class="row justify-content-center">
        @foreach (var course in Model)
        {
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4 shadow" style="width: 100%;">
                    <img src="@course.ImageUrl" alt="Course Image" class="card-img-top" style="height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@course.Title</h5>
                        <p class="card-text"><small class="text-muted">Instructor: @course.Instructor.FirstName @course.Instructor.LastName</small></p>
                        <p class="card-text">Interested: @course.Interested</p>
                        <p class="card-text">Category: @course.Category</p>
                        <div class="mt-auto">
                            <a href="@Url.Action("Details", "Course", new { courseId = @course.Id })" class="btn btn-info mb-2">Details</a>
                            @if (User?.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <form asp-controller="Course" asp-action="Join" asp-route-courseId="@course.Id" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-success mb-2">Join</button>
                                </form>
                                @if (User.IsInRole("admin"))
                                {
                                    <a asp-area="admin" asp-controller="Course" asp-action="Edit" asp-route-courseId="@course.Id" class="btn btn-warning mb-2">Edit</a>
                                    <a asp-area="admin" asp-controller="Course" asp-action="Delete" asp-route-courseId="@course.Id" class="btn btn-danger mb-2">Delete</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
