@model CourseViewModel

@{
    ViewBag.Title = "Course Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="Instructor Image" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h3><u>@Model.Title</u></h3>
            <p><strong>Course Teacher:</strong> @Model.Instructor.FirstName @Model.Instructor.LastName</p>
            <p><strong>Price:</strong> Free</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <p><strong>Category:</strong> @Model.Category</p>
            <p><strong>Date:</strong> @Model.StartDate to @Model.EndDate</p>
            <form class="input-group-sm mb-3" asp-controller="Course" asp-action="Join" asp-route-courseId="@Model.Id">
                <button type="submit" class="btn btn-success">Join</button>
            </form>
            <a class="btn btn-dark" asp-controller="Course" asp-action="All">Back to Courses</a>
            @if (User?.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <a asp-area="admin" asp-route-courseId="@Model.Id" asp-controller="Course" asp-action="Edit" class="btn btn-warning">Edit</a>
                <a asp-area="admin" asp-controller="Course" asp-action="Delete" asp-route-courseId="@Model.Id" class="btn btn-danger">Delete</a>
            }
            <div class="mt-3">
                <h5>Reach</h5>
                <p>Interested: @Model.Interested</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
